html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  width: 100%;
}

.main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.open-btn {
  font-size: 1.2rem;
  font-weight: 450;

  position: fixed;
  bottom: 60px;
  right: 70px;
  padding: 1rem 2.8rem;
  border-radius: 30px;
  border: none;
  color: #aa4444;
  background-color: #ffe3e3;
  cursor: pointer;
  z-index: 1;
}

.modal-p {
  font-weight: 450;
}

.yes-no-btn {
  font-size: 1rem;
  font-weight: 450;
  margin: 18px 10px;
  padding: 6px 10px;
  width: 90px;
  border-radius: 30px;
  border: none;
  color: #2e80ed;
  background-color: #e3f5ff;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: end;
  align-items: center;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.main-popup {
  position: absolute;
  right: 20px;
  bottom: 35px;
  height: 280px;
  width: 320px;
  border-radius: 10px;
  z-index: 1;
  background: #fdfeff;
  padding: 38px 30px;
  line-height: 1rem;
  transform: translateY(100%);
}

.popup-content p {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0.5rem;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(120%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
